langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
ipykernel
pymupdf
langchain-huggingface
faiss-cpu
pylance
pypdf
arxiv
wikipedia
langgraph
duckduckgo-search